{{left_sidebar_enabled,right_sidebar_enabled=False,('message' in globals())}}
{{extend 'layout.html'}}

<div id="new_msg">
{{=form}}
</div>

<h2>Messages:</h2>
<div class="message_list">
  {{for p in posts:}}
    <div class="message">
      {{=p.message_content}}
    </div>
  {{pass}}
</div>

<script>
$(function() {
  $("div#new_msg input[type=submit]").on("click", function() {
    var msg_content = $("div#new_msg textarea").val();
    // Send content back to server.
    $.ajax("{{=URL('default', 'add_msg', user_signature=True)}}",
            {
              data: {msg: msg_content},
              method: 'POST',
              success: function() {},
              error: function() {}
            }
    );
    return false;
  });
});
</script>
