/* line 1, ../sass/_main.scss */
body {
  background-color: #009b22;
}

/* line 5, ../sass/_main.scss */
h1 {
  font-family: Arial, Helvetica, sans-serif;
  color: #FFFFFF;
  font-size: 700%;
  text-align: center;
}
/* line 10, ../sass/_main.scss */
h1 .loginprompt {
  font-size: 100%;
}

/* line 14, ../sass/_main.scss */
.title, #loadspinner {
  text-align: center;
}

/* line 17, ../sass/_main.scss */
.colorful {
  color: #bb8833;
}

/* line 20, ../sass/_main.scss */
#player {
  min-height: 150px;
  position: relative;
}

/* line 24, ../sass/_main.scss */
#hand {
  text-align: center;
  position: fixed;
  bottom: 70px;
}

/* line 30, ../sass/_main.scss */
#last_played {
  text-align: center;
  position: fixed;
  top: 70px;
}

/* line 35, ../sass/_main.scss */
.cards {
  background: rgba(233, 233, 233, 0.8);
  padding-top: 10px;
  padding-left: 15px;
  padding-right: 20px;
  margin: 5px;
  width: 100px;
  height: 155px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  display: inline-block;
  vertical-align: top;
}
