body {
  background-color: #009b22;
}

h1 {
  font-family: Arial, Helvetica, sans-serif;
  color: #FFFFFF;
  font-size: 700%;
  text-align: center;
  .loginprompt {
    font-size: 100%;
  }
}
.title , #loadspinner {
  text-align: center;
}
.colorful {
  color: $clrHilight;
}
#player {
  min-height: 150px;
  position: relative;
}
#hand {
  text-align: center;
  position: fixed;
  bottom: 70px;
}

#last_played {
  text-align: center;
  position: fixed;
  top: 70px;
}
.cards {
  background: rgba(233, 233, 233, 0.8);
  padding-top: 10px;
  padding-left: 15px;
  padding-right: 20px;
  margin: 5px;
  width: 100px;
  height: 155px;
  @include border-radius(5px);
  display: inline-block;
  vertical-align: top;
}
